<div class="services-sidebar">
    <h4>Categories</h4>
    <ul>
        <li>
            <%- link_to("&#10148; Education", 'javascript:void(0);', {class: "category-list"}) %>
        </li>
        <li>
            <%- link_to("&#10148; Programming", 'javascript:void(0);', {class: "category-list"}) %>
        </li>
        <li>
            <%- link_to("&#10148; Business", 'javascript:void(0);', {class: "category-list"}) %>
        </li>
    </ul>
    <br>
    <h4>Archives</h4>
    <ul>
        <li>
            <%- link_to("&#10148; Jan, 2012", 'javascript:void(0);', {class: "category-list"}) %>
        </li>
        <li>
            <%- link_to("&#10148; Feb, 2012", 'javascript:void(0);', {class: "category-list"}) %>
        </li>
        <li>
            <%- link_to("&#10148; March, 2012", 'javascript:void(0);', {class: "category-list"}) %>
        </li>
        <li>
            <%- link_to("&#10148; April, 2012", 'javascript:void(0);', {class: "category-list"}) %>
        </li>
    </ul>
</div>